exec "autoexec\audio.cfg"
exec "autoexec\bind.cfg"
exec "autoexec\crosshair.cfg"
exec "autoexec\hud.cfg"
exec "autoexec\mouse.cfg"
exec "autoexec\network.cfg"
exec "autoexec\script.cfg"
exec "autoexec\video.cfg"

# 	bind ctrl +c_
# 	bind mwheeldown +cj_
# 	bind alt +jb_
# 	bind mwheelup +mj_
# 	alias +mj_ "duck 1 0 0"
# 	alias -mj_ "jump 1 0 0; mj_"
# 	alias mj_ "exec otag/mj"
# 	alias +jb_ "exec otag/+jb"
# 	alias -jb_ "exec otag/-jb"
# 	alias +cj_ "exec otag/+cj"
# 	alias -cj_ "exec otag/-cj"
# 	alias +c_ "exec otag/+c"
# 	alias -c_ "exec otag/-c"
# 	alias j_ "exec otag/j"
# alias revert_tt "alias tt"
# alias tt

# alias +jump_ "exec "+jump"
# alias -jump_ "exec "-jump"



# alias +duck_ "exec "+duck"
# alias -duck_ "exec "-duck"


# bind "mwheeldown" "+jump"
# bind "mwheelup" "+jump"

# 	alias +j "+jump;+!forward";
#     alias -j "-jump"

# bind "SPACE" "-duck"
# bind "ctrl" "+duck"


#     bind w +forward
#     bind a +a
#     bind d +d
#     bind s +s
	

# //jb 

# bind mouse5 +jb_




#  // Normal LJ bind

# alias +lj "+jump;+!forward;-!duck";
# alias -lj "-jump;+!duck";
# bind key +lj;



#  // First-Strafe LJ bind
 
# bind KEY +ljr; 
# alias +ljr "+d;+!forward;-!jump;-!duck";
# alias -ljr "-jump;+!duck";

# bind KEY +ljl;
# alias +ljl "+a;+!forward;-!jump;-!duck";
# alias -ljl "-jump;+!duck";

#  // First-Strafe Switch
 
# // Change KEY in the first two lines to whatever key you want the LJ bind to be on
# // Change KEY the last line to what you want the LJ switch to be on

# alias "+ljbind" "bind mouse4 +ljl; switchhandsleft"
# alias "+ljrightbind" "bind mouse4 +ljr; switchhandsright"

# alias "togglelj" "lj_on"
# alias "lj_on" "+ljbind; alias togglelj lj_off"
# alias "lj_off" "+ljrightbind; alias togglelj lj_on"

# bind "mouse3" "togglelj"

// TAG 
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo
echo "   	            .--.		" 
echo "                |o_o |		"
echo "  	           |:_/ |		"
echo " 		  //...\.\		"
echo "		 (|.....|.)		"
echo "		/'\_..._/`\		"
echo "		\___)=(___/		"
echo
echo
echo
echo
echo
echo
echo
echo 
echo 
echo 
echo 
echo 
echo 
echo 
echo 
echo 
echo 
echo 
echo 